@font-face {
    font-family: 'Hyperlegible';
    src:    url('hyperlegible/Atkinson-Hyperlegible-Regular-102.eot');
    src:    url('hyperlegible/Atkinson-Hyperlegible-Regular-102.eot?#iefix') format('embedded-opentype'),
            url('hyperlegible/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
            url('hyperlegible/Atkinson-Hyperlegible-Regular-102.woff2') format('woff2'),
            url('hyperlegible/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
            url('hyperlegible/Atkinson-Hyperlegible-Regular-102.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'Hyperlegible';
    src:    url('hyperlegible/Atkinson-Hyperlegible-Italic-102.eot');
    src:    url('hyperlegible/Atkinson-Hyperlegible-Italic-102.eot?#iefix') format('embedded-opentype'),
            url('hyperlegible/Atkinson-Hyperlegible-Italic-102.woff') format('woff'),
            url('hyperlegible/Atkinson-Hyperlegible-Italic-102.woff2') format('woff2'),
            url('hyperlegible/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype'),
            url('hyperlegible/Atkinson-Hyperlegible-Italic-102.svg#svgFontName') format('svg');
    font-style: italic;
}

@font-face {
    font-family: 'Hyperlegible';
    src:    url('hyperlegible/Atkinson-Hyperlegible-Bold-102.eot');
    src:    url('hyperlegible/Atkinson-Hyperlegible-Bold-102.eot?#iefix') format('embedded-opentype'),
            url('hyperlegible/Atkinson-Hyperlegible-Bold-102.woff') format('woff'),
            url('hyperlegible/Atkinson-Hyperlegible-Bold-102.woff2') format('woff2'),
            url('hyperlegible/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype'),
            url('hyperlegible/Atkinson-Hyperlegible-Bold-102.svg#svgFontName') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'Hyperlegible';
    src:    url('hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.eot');
    src:    url('hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.eot?#iefix') format('embedded-opentype'),
            url('hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'),
            url('hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.woff2') format('woff2'),
            url('hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype'),
            url('hyperlegible/Atkinson-Hyperlegible-BoldItalic-102.svg#svgFontName') format('svg');
    font-style: italic;
    font-weight: bold;
}