<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">
	<meta name="author" content="{{ author }}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT  -->
	<meta http-equiv="cleartype" content="on" />
	<link rel="stylesheet" type="text/css" href="{{ '/assets/font/hyperlegible.css' | url }}">
	
	<!-- CSS  -->
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/barebones/normalize.css' | url }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/barebones/barebones.css' | url }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/hot.css' | url }}">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | url }}" />

</head>

<body>

	<!-- Primary Page Layout -->
	<div class="grid-container halves">
		<div>
			{{ content | safe }}
		</div>
	</div>
	</div>

	<footer>
		Footer here!
	</footer>

	<!-- End Document -->
</body>

</html>