<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>{{ title or metadata.title }}</title>
	<meta name="description" content="{{ description or metadata.description }}">
	<meta name="author" content="{{ author }}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT  -->
	<meta http-equiv="cleartype" content="on" />
	<link rel="stylesheet" type="text/css" href="{{ '/assets/font/hyperlegible.css' | url }}">
	
	<!-- CSS  -->
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/barebones/normalize.css' | url }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/barebones/barebones.css' | url }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/hot.css' | url }}">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | url }}" />

</head>

<body>

	<header>
		<div class="title"><a href="{{ '/' | url }}">🔮 Tinker</a></div>
		<div class="menu">Pocket reference for DIY electronics tinkering</div>
	</header>

	<!-- Primary Page Layout -->
	<div class="content">
		<div>
			{{ content | safe }}
		</div>
	</div>

	<footer>
		Work in progress 🔧 <a href="https://github.com/mistress-of-loft-and-spire/tinker"><img class="icon" src="{{ '/assets/img/github-mark-white.svg' | url }}"> GitHub</a>
	</footer>

	<!-- End Document -->
</body>

</html>