<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<meta name="theme-color" content=""/>
        <meta name="description" content="{{ description or metadata.description }}"/>
        <meta name="author" content=""/>

		<title>{{ title or metadata.title }}</title>

		<meta http-equiv="cleartype" content="on"/>

		<link rel="stylesheet" type="text/css" href="{{ '/assets/css/hot.css' | url }}" />
		
		<link rel="shortcut icon" type="image/png" href="{{ '/assets/img/favicon.png' | url }}"/>

	</head>
	<body>
	
		{{ content | safe }}
		
		<footer>
			Footer here!
		</footer>
        
	</body>
</html>